body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background: #505858;
    color: #f2e1e0;
}

/* Header */

.nav-item {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-list ul li {
    margin: 5px;
    text-align: center;
}

.test {
    width: 90%;
}

/* URL, with a keyword fallback */
* {
  cursor: url("../img/cur1054.cur"), pointer;
}

/* Links */

 ul a {
    text-decoration: none;
    background: #fff;
    color: #6ebdbd;
    border: solid red 2px;
}

/* Pictures */
.main-pic {
    width: 300px;
}