/* URL, with a keyword fallback */
* {
  cursor: url("../img/cur1054.cur"), pointer;
}

body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  background: #fff;
  color: #fff;
}

/* Header */

.container-header {
  position: relative;
  background-image: url("../img/header-bg2.jpg");
  background-size: cover;
  z-index: -2;
}

.container-header::after {
  background: black;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  width: 90%;
  margin: auto;
  padding: 10px;
  padding-bottom: 40px;
}

ul {
  list-style-type: none;
  display: block;
}

li {
  margin-bottom: 10px;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

/* Main */

.container-main {
  background: #f2f2f2;
  color: #505858;
  padding-bottom: 25px;
}

.main-content {
  width: 90%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

/* Footer */

footer {
  background: #a6a6a6;
  color: #fff;
  padding-top: 25px;
  overflow: auto;
  padding-bottom: 25px;
}

.contact-info {
  padding-top: 15px;
  padding-bottom: 35px;
}

hr {
  margin-left: 15px;
  margin-right: 15px;
}

.student-bottom-nav {
  float: left;
  padding-left: 15px;
  padding-top: 15px;
  font-weight: 700;
}

.back-to-top-nav {
  float: right;
  padding-right: 15px;
  padding-top: 15px;
  font-weight: 700;
}

.nav-list-bottom {
  display: none;
}

/* Text */

h1 {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 1em;
  font-weight: 900;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 40px;
}

p {
  padding-bottom: 10px;
  line-height: 140%;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 15px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 35px;
  padding-bottom: 30px;
}

/* Links, Pseudo-classes */

li a {
  text-decoration: none;
  color: #505858;
  display: block;
}

a {
  text-decoration: none;
  color: #505858;
  font-weight: 700;
}

a:hover {
  color: #000;
}

/* Pictures */

.profile-pic {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 200px;
  border-radius: 50%;
  border: solid white 2px;
}

.main-pic {
  max-width: 290px;
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
  li {
    background: none;
    display: inline-block;
    padding: 20px;
    font-weight: 600;
  }
  li a {
    color: #fff;
  }
  .intro {
    overflow: auto;
    display: inline-block;
  }
  .profile-pic {
    float: right;
  }
  .text-intro {
    width: 60%;
    padding-top: 70px;
    text-align: left;
    font-size: 20px;
  }
  .main-pic {
    max-width: 320px;
  }
  footer p {
    font-size: 20px;
  }
  .student-bottom-nav {
    font-size: 16px;
  }
  .back-to-top-nav {
    display: none;
  }
  .nav-list-bottom {
    display: inline-block;
    float: right;
  }
}

@media (min-width: 1024px) {
  .main-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
